<section class="page-content">
  <div class="container">
    <h1 class="page-content__title">{{ page.title }}</h1>
    <div class="page-content__body">
      {{ page.content }}
    </div>
  </div>
</section>
